.information {
  margin-left: 0.5rem;
  color: var(--blue-france-sun-113-625);
}

.tooltip {
  max-width: 350px;
}

.tabpanel {
  z-index: 1;
  background-color: var(--grey-1000-50);
}

.links {
  display: flex;
}

.copy {
  margin-left: auto;
}
