.container {
  & + & {
    border-top: 1px solid var(--grey-625-425);
    padding-top: 2rem;
  }
}

.title {
  color: var(--blue-france-sun-113-625);
}

.actions {
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: auto;
  color: var(--blue-france-sun-113-625);
}
