$colors: var(--green-bourgeon-sun-425-moon-759),
  var(--blue-ecume-sun-247-moon-675), var(--purple-glycine-sun-319-moon-630),
  var(--pink-macaron-sun-406-moon-833), var(--yellow-tournesol-sun-407-moon-922),
  var(--orange-terre-battue-sun-370-moon-672),
  var(--brown-cafe-creme-sun-383-moon-885),
  var(--beige-gris-galet-sun-407-moon-821),
  var(--green-emeraude-sun-425-moon-753), var(--blue-cumulus-sun-368-moon-732),
  var(--pink-tuile-sun-425-moon-750), var(--yellow-moutarde-sun-348-moon-860),
  var(--brown-caramel-sun-425-moon-901), var(--green-menthe-sun-373-moon-652),
  var(--brown-opera-sun-395-moon-820), var(--green-archipel-sun-391-moon-716),
  var(--green-tilleul-verveine-sun-418-moon-817);

@for $i from 1 through length($colors) {
  .pin-#{$i} {
    color: nth($colors, $i);
  }

  .legend-#{$i} {
    background-color: nth($colors, $i);
  }
}

.legend-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-bottom: 0;
}

.legend {
  width: 2rem;
  height: 0.5rem;
  margin-right: 0.25rem;
}
