.actions {
  margin: 0;
}

@media (min-width: 62em) {
  .actions {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;
    margin-right: 2rem;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}
