:global(.fr-label) + .select {
  margin-top: 0.5rem;
}

:global(.fr-select-group) {
  .control {
    background-color: var(--grey-950-100);
    border-radius: 0.25rem 0.25rem 0 0;
    border: none;
    box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
    max-width: 100%;
    cursor: pointer;
  }

  .focused {
    // !important clauses are necessary to override react-select's own !important
    outline-style: solid !important;
    outline-width: 2px !important;
    outline-color: #0a76f6 !important;
    outline-offset: 2px;
  }

  .single-value {
    color: var(--grey-50-1000);
  }

  .multi-value {
    border-radius: 0.75rem;
  }

  .multi-value-label {
    padding: 0;
    color: inherit;
  }

  .multi-value-remove {
    background: inherit;
    padding-right: 0;

    &:hover {
      color: inherit;
      background-color: inherit;
    }
  }

  .value-container {
    padding: 4px 16px;
  }

  .indicator {
    color: var(--grey-50-1000);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.5rem) 50%;
    background-size: 1.5rem 1.5rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23161616' d='m12 13.1 5-4.9 1.4 1.4-6.4 6.3-6.4-6.4L7 8.1l5 5z'/%3E%3C/svg%3E");

    svg {
      display: none;
    }
  }

  .separator {
    visibility: hidden;
  }

  .placeholder {
    color: var(--grey-425-625);
    font-style: italic;
    margin: 0;
  }

  .menu {
    z-index: 2;
    background-color: var(--background-default-grey);
  }

  .option {
    &.selected,
    &:hover {
      color: inherit;
      background-color: var(--hover);
    }
  }
}

:root[data-fr-theme="dark"] {
  :global(.fr-select-group) {
    .indicator {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='m12 13.1 5-4.9 1.4 1.4-6.4 6.3-6.4-6.4L7 8.1l5 5z'/%3E%3C/svg%3E");
    }
  }
}
