:global(.fr-select-group) {
  &.select {
    max-width: 450px;

    .control {
      cursor: text;
    }
  }
}

.search-icon {
  color: var(--pink-macaron-975-75-active);
}

@media (min-width: 48em) {
  .container {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
  }
}
