.filters-title {
  display: none;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 62em) {
  .main {
    order: 1;
  }

  .title {
    display: none;
  }

  .filters-title {
    display: block;
  }
}
